Sendgrid error: text/plain needs to be first, followed by text/html

I use this plugin in combination with Contact Form 7 to send a HTML email via SendGrid, but the email didn't send. After debugging a lot of code i came to the following error on this line https://github.com/awesomemotive/WP-Mail-SMTP/blob/master/src/MailCatcher.php#L70 the mailer object contains in body -> response -> errors the following error: 

> Following RFC 1341, section 7.2, if either text/html or text/plain are to be sent in your email: text/plain needs to be first, followed by text/html, followed by any other content.


So i did some further investigation and I found out that on this line: https://github.com/awesomemotive/WP-Mail-SMTP/blob/master/src/Providers/MailerAbstract.php#L110  first the HTML content is set, and then the Plain Text content (AltBody). 

I tried turning these around so that would look like this:
````PHP
$this->set_content(
    array(
        'text' => $this->phpmailer->AltBody,
        'html' => $this->phpmailer->Body,
    )
);
````
And my email was send correctly, please fix this!

I created a pull request: https://github.com/awesomemotive/WP-Mail-SMTP/pull/6

Awesome! Thank you for your time, I will use the patch from your request to fix that in the next release.
[6.zip](https://github.com/awesomemotive/WP-Mail-SMTP/files/2103255/6.zip)



The fix is applied, so it will be in WP Mail SMTP 1.3.0.

Thank you for your contribution!

Great news! Thanks to you too!